<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56053565487-4hpe201r97dakjqqo6b0g3ltrabpfrmo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56053565487-4hpe201r97dakjqqo6b0g3ltrabpfrmo</string>
	<key>API_KEY</key>
	<string>AIzaSyD12e9qHOj8ulb6cxP0DIWHW2tIeYzgKtc</string>
	<key>GCM_SENDER_ID</key>
	<string>56053565487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.getFlutterFire</string>
	<key>PROJECT_ID</key>
	<string>sharekhan-nemin</string>
	<key>STORAGE_BUCKET</key>
	<string>sharekhan-nemin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56053565487:ios:3515d315addadb07cb5eda</string>
</dict>
</plist>