service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow write: if request.auth.uid != null;
      allow read: if true;
    }
  }
}
s